{{template "common/header" .}}
<div class="main bg-base-200">
    <div class="container mx-auto max-w-4xl">
        <div class="text-center flex justify-center">
            <p class="my-16 text-2xl max-w-xl text-center font-bold leading-9">Extend the functionality of the GitHub
                project
                management
                feature to view Gantt charts
                in a quick and easy way.</p>
        </div>
        <svg id="home-gantt-demo"></svg>
    </div>
</div>
{{template "common/footer" .}}