{{template "common/header" .}}
<div class="main bg-base-200">
    <div class="container mx-auto max-w-4xl pt-7">
        <p class="text-4xl text-center font-extrabold"><a href="{{.URL}}" target="_blank"
                class="border-b-4 border-green-400">{{.Title}}</a> <a href="https://github.com/{{.Owner}}"
                target="_blank" class="badge">@{{.Owner}}</a></p>
    </div>
    <div class="mx-auto max-w-4xl mt-8">
        <div class="text-xl font-extrabold text-center">
            <p class="inline-block">Filter by milestone: <select class="select select-bordered ml-2"
                    id="gantt-filter-milestone">
                    <option value="">Unset</option>
                </select></p>
            <p class="inline-block ml-4">Filter by assignee: <select class="select select-bordered ml-2"
                    id="gantt-filter-assignee">
                    <option value="">Unset</option>
                </select></p>
            <div class="mt-4">
                Change View Mode:
                <div class="btn-group inline-block ml-2" id="gantt-view-mode">
                    <button class="btn btn-md">Quarter Day</button>
                    <button class="btn btn-md">Half Day</button>
                    <button class="btn btn-md btn-active">Day</button>
                    <button class="btn btn-md">Week</button>
                    <button class="btn btn-md">Month</button>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-8">
        <svg id="project"></svg>
    </div>
    <p class="text-center py-8 text-xl font-extrabold italic underline">
        <a href="{{.URL}}" target="_blank">View on GitHub</a>
    </p>
</div>
{{template "common/footer" .}}
<script>
    (function () {
        const tasks = JSON.parse('{{.Gantts|json}}');
        const gantt = new Gantt("#project", tasks, {
            custom_popup_html: function (task) {
                let date = ''
                if (task.start) {
                    date = `<p>${task.start}`
                }
                if (task.end) {
                    date += ` - ${task.end}</p>`
                }
                let assignees = ''
                task.assignees.forEach((a, i) => {
                    assignees += `<div class="avatar inline-block ${i == 0 ? 'mx-1' : 'ml-1'} mt-1">
  <div class="w-8 rounded-full">
    <img title="${a.login}" src="${a.avatar_url}" />
  </div>`
                })
                return `
                        <div class="details-container p-3" >
            	  <p><a class="text-base-100" href="${task.issue_url}" target="_blank">${task.name}</a></p>
            	  <p>${task.progress ?? 0}% completed!</p>
                  ${date}
                    <p>${assignees}</p>
            	</div >
            `},
        });
        const viewModeButtons = Array.prototype.slice.call(document.getElementById("gantt-view-mode").querySelectorAll("button"))
        const ganttFilterByMilestoneButton = document.getElementById("gantt-filter-milestone");
        const ganttFilterByAssigneeButton = document.getElementById("gantt-filter-assignee");

        const uniqueMilestone = {}
        const uniqueAssignee = {}
        tasks.forEach(task => {
            if (task.milestone) {
                if (!uniqueMilestone[task.milestone]) {
                    uniqueMilestone[task.milestone] = true
                    ganttFilterByMilestoneButton.innerHTML += `<option>${task.milestone}</option>`
                }
            }
            if (task.assignees) {
                task.assignees.forEach(assignee => {
                    if (!uniqueAssignee[assignee.login]) {
                        uniqueAssignee[assignee.login] = true
                        ganttFilterByAssigneeButton.innerHTML += `<option>${assignee.login}</option>`
                    }
                })
            }
        })

        viewModeButtons.forEach(btn => {
            btn.addEventListener('click', (ev) => {
                viewModeButtons.forEach((button) => {
                    button.classList.remove("btn-active")
                })
                ev.target.classList.add("btn-active")
                gantt.change_view_mode(ev.target.innerHTML)
            })
        })

        let filterMilestone = null
        let filterAssignee = null

        const filter = () => {
            const newTasks = tasks.filter(task => (!filterMilestone || task.milestone === filterMilestone) && (!filterAssignee || task.assignees?.some(assignee => assignee.login === filterAssignee)))
            if (newTasks.length) {
                gantt.refresh(newTasks)
            } else {
                gantt.clear()
            }
        }

        ganttFilterByMilestoneButton.addEventListener('change', (ev) => {
            filterMilestone = ev.target.value;
            filter()
        })

        ganttFilterByAssigneeButton.addEventListener('change', (ev) => {
            filterAssignee = ev.target.value;
            filter()
        })
    })()
</script>