<footer class="p-6 text-base-content text-center">
    <p class="font-extrabold italic">Theme&nbsp;<select class="select select-bordered" id="change-theme"> </select></p>
    <p class="mt-2">Copyright © 2022 - naiba build·{{.Site.Version}}</p>
    <p class="mt-2"><a href="https://github.com/naiba/gantt-viewer-for-github-project"><i
                class="fab fa-github text-xl"></i></a></p>
</footer>
<script src="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/js-cookie/3.0.1/js.cookie.min.js"
    type="application/javascript"></script>
<script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/frappe-gantt/0.6.0/frappe-gantt.min.js"></script>
<script src="/static/main.js?v7"></script>
</body>

</html>